{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('homepage') }}">S2IT Trial</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('nelmio_api_doc_index') }}">Api Docs</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <span class="text text-{{ type }}">{{ message }}</span>
                {% endfor %}
            {% endfor %}
            <h1 class="text-center">Upload your XML</h1>
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.people) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.order) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}